body {
    margin: 0;
    padding: 0;
    background-color: #FFD4BC;
}
* {
    font-family: "Arial", tahoma;
}

.button {
    background-color: #EDEAE5;
    border-style: solid;
    border-color: #EDEAE5;
    border-radius: 65px;
    color: black;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Baloo Bhaina';
  }
  .button:hover {
    background-color: #c7c7c7;
    border-color: #c7c7c7;
}
.container {
    padding: 100px 25%;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    font-size: 1.2em;
    color: #202C39;
    align-items: center;
    justify-content: center;
}
#searchbar {
    margin: auto;
    padding: 15px 165px;
    width: 350px;
    border-color: #9A031E;
    border-style: solid;
}
input[type=text] {
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}