/* Recipe Card */
.General-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 5%;
}
  
.General-card h2 {
color: #333333;
font-size: 24px;
margin-bottom: 10px;
margin-top: 10px;
}

.General-card p {
color: #666666;
font-size: 16px;
margin-bottom: 5px;
}

.General-card a {
color: #4285f4;
font-size: 16px;
text-decoration: none;
}

.General-card a:hover {
text-decoration: underline;
}

/* Recipe Header */
.Recipe-list-header {
text-align: center;
margin-bottom: 20px;
}

.Recipe-list-header h1 {
font-size: 28px;
color: #333333;
margin-bottom: 10px;
}