.curr_ingredients {
    position: fixed;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #E9E4E4; 
    top: 0;
    text-align: center;
    font-family: 'Baloo Bhaina';
    font-weight: 400;
    padding-top: 1%;
    font-size: 20pt;
    background-image: linear-gradient(to bottom, #FBF9F9 80%, #E9E4E4 20%);
    background-image: -o-linear-gradient(bottom, #FBF9F9 80%, #E9E4E4 20%);
    background-image: -moz-linear-gradient(bottom, #FBF9F9 80%, #E9E4E4 20%);
    background-image: -webkit-linear-gradient(bottom, #FBF9F9 87%, #E9E4E4 13%);
    background-image: -ms-linear-gradient(bottom, #FBF9F9 80%, #E9E4E4 20%);
}



.ingredient_display {
    position: fixed;
    display:flex;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: #FFD4BC; 
}